//CSS reset file

* {
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

h1,h2,h3,p,div,span{
    margin: 0;
    padding: 0;
}