// Tools
@import 'variables';
@import 'mixins';
@import 'grid';

// Base
@import 'base';
@import 'normalize';

// Modules
@import 'modal-checkbox';
@import 'placeholder';

// Components

html,
body{
	height: 100%;
	width:100%;
	font-family: $font-family-roboto;
	font-size: 1em;
}

body{
	padding: 3.5em 0 0;
	background: $gray-light5;
	// background : url('../img/uc2.jpg') 100% no-repeat;
}

// Header
header{
	width:100%;
	height: 3.5em;
	position:fixed;
	padding: 1em;
	top:0;
	left:0;
	z-index:5;
	background: $blue-light2;
	box-shadow: 0 2px 4px rgba(44,62,80,.15);
	p{
		color: $brown-dark-uncharted;
		text-align: center;
		font-family: Base02 ;
	}
}
