// Base rules file
* {
    box-sizing: border-box;
}

* {
    &:after,
    &:before {
        @extend *;
    }
}

html {
    font-size: 100%;
}

body {
    font-size: 1em;
    position: relative;
    padding: 3.5em 0 0;
    font-family: $font-family-roboto;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

h1,h2,h3,p,div,span{
    margin: 0;
    padding: 0;
}
